/* Estilo do Portfólio */
/* Define um estilo base para todos os elementos, removendo margens, preenchimentos e incluindo uma caixa de modelagem de borda. 
   Também define a fonte padrão como 'Poppins' e 'sans-serif'. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do corpo da página */
/* Define a cor de fundo do corpo como preto e a altura como 100% da altura visível (viewport height). */
body {
    background-color: black;
    height: 100vh;
}

/* Estilo da interface do portfólio */
/* Define uma largura máxima para a interface e centraliza-a na página. */
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Define o estilo do botão de contato, incluindo cor de fundo, borda, tamanho da fonte e cursor. */
.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* Efeito de hover no botão de contato */
/* Adiciona uma sombra ao botão quando o mouse passa por cima. */
button:hover {
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
}

/* Estilo do cabeçalho do portfólio */
/* Define um espaçamento interno para o cabeçalho. */
header {
    padding: 40px 4%;
}

/* Estilizações específicas dentro da interface do cabeçalho */
/* Centraliza os elementos dentro do cabeçalho e alinha-os horizontalmente. */
header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo dos links no cabeçalho */
/* Define a cor padrão e remove a decoração de texto dos links. */
header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

/* Efeito de hover nos links */
/* Muda a cor e aplica um efeito de escala quando o mouse passa por cima do link. */
header a:hover {
    color: #fff;
    transform: scale(1.05);
}

/* Estilo da lista de navegação no cabeçalho */
/* Remove os pontos da lista e exibe os itens da lista em linha. */
header nav ul {
    list-style-type: none;
}

/* Estilo dos itens da lista de navegação */
/* Exibe os itens da lista de navegação em linha e adiciona espaçamento. */
header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do botão de contato */
/* Efeito de hover no botão de contato */
/* Adiciona uma sombra ao botão quando o mouse passa por cima. */
/* Estilo do Topo Portfólio*/
section.topo-do-portifolio {
    padding: 40px 4%;
}

/* Estilo da seção topo-do-portifolio */
section.topo-do-portifolio .flex {
    align-items: center;
    justify-content: center;
}

/* Estilo para o título principal */
.topo-do-portifolio h1 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

/* Estilo para a parte destacada do título */
.topo-do-portifolio h1 span {
    color: #00FF08;
}

/* Estilo para os parágrafos na seção topo-do-portifolio */
.topo-do-portifolio .txt-topo-portifolio p {
    color: #fff;
    margin: 40px 0;
}

/* Estilo para a imagem com animação de flutuação */
.topo-do-portifolio .img-topo-portifolio img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* Animação de flutuação */
@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo das especialidades */
section.especialidades {

    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

/* Estilo para as caixas de especialidades */
.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

/* Efeito de escala e sombra ao passar o mouse sobre as caixas de especialidades */
.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

/* Estilo para os ícones dentro das caixas de especialidades */
.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

/* Estilo para os títulos das caixas de especialidades */
.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo da seção sobre */
section .sobre {
    padding: 80px 4%;
}

/* Alinhamento e espaçamento entre elementos flexíveis na seção sobre */
section.sobre .flex {
    align-items: center;
    gap: 60px;
}

/* Estilo para o bloco de texto na seção sobre */
.sobre .txt-sobre {
    color: #fff;
}

/* Estilo para os títulos h2 na seção sobre */
.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

/* Estilo para a parte destacada nos títulos h2 */
.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

/* Estilo para os parágrafos na seção sobre */
.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* Estilo para os botões sociais na seção sobre */
.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO DO PORTFÓLIO*/
/* Estiliza a seção do portfólio, definindo espaçamento interno, sombra e margens. */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff3e;
}

/* Estiliza os elementos filhos da seção do portfólio usando a classe .flex. */
section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

/* Estiliza as imagens do portfólio, definindo tamanho, efeitos de transição e borda arredondada. */
.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

/* Efeito de hover nas imagens do portfólio alterando a posição de fundo. */
.img-port:hover {
    background-position: 100% 100%;
}

/* Estiliza a sobreposição das imagens do portfólio, configurando posição, tamanho, cores e opacidade. */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

/* Efeito de hover na sobreposição, alterando a opacidade para torná-la visível. */
.overlay:hover {
    opacity: 1;
}